@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

@font-face { font-family: 'dizinregular'; src: url("fonts/dizin.eot"); src: url("fonts/dizin.eot?#iefix") format("embedded-opentype"), url("fonts/dizin.woff") format("woff"), url("fonts/dizin.woff2") format("woff2"), url("fonts/dizin.ttf") format("truetype"), url("fonts/dizin.svg#dizinregular") format("svg"); font-weight: normal; font-style: normal; }

@-webkit-keyframes ctaShadow { 0% { box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.5), 0 0 0 0 rgba(214, 33, 40, 0); }
  55% { box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.5), 0 0 0 10px rgba(214, 33, 40, 0.4); } }

@keyframes ctaShadow { 0% { box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.5), 0 0 0 0 rgba(214, 33, 40, 0); }
  55% { box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.5), 0 0 0 10px rgba(214, 33, 40, 0.4); } }

@-webkit-keyframes ctaShadowHover { 0% { box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.5), 0 0 0 0 rgba(236, 195, 118, 0); }
  55% { box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.5), 0 0 0 10px rgba(236, 195, 118, 0.4); } }

@keyframes ctaShadowHover { 0% { box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.5), 0 0 0 0 rgba(236, 195, 118, 0); }
  55% { box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.5), 0 0 0 10px rgba(236, 195, 118, 0.4); } }

@-webkit-keyframes linkCopied { 40% { opacity: 1; }
  60% { opacity: 1; } }

@keyframes linkCopied { 40% { opacity: 1; }
  60% { opacity: 1; } }

@-webkit-keyframes spin { 0% { -webkit-transform: translate3d(-50%, 111px, 0) rotate(0deg); }
  100% { -webkit-transform: translate3d(-50%, 111px, 0) rotate(360deg); } }

@keyframes spin { 0% { transform: translate3d(-50%, 111px, 0) rotate(0deg); }
  100% { transform: translate3d(-50%, 111px, 0) rotate(360deg); } }

html { font-family: "Roboto", sans-serif; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-text-size-adjust: 100%; }

html * { box-sizing: border-box; }

a { color: inherit; text-decoration: none; cursor: pointer; }

.body { width: 100%; background-color: #21130e; }

.body.is-popup { overflow: hidden; height: 100%; }

.body__wrapper { position: relative; width: 1024px; margin: 0 auto; }

.is-popup .body__wrapper { overflow: hidden; height: 100vh; }

@media only screen and (max-device-width: 1024px) { .body__wrapper { overflow: hidden; } }

.header { position: absolute; top: 0; left: 50%; z-index: 9999; width: 1280px; height: 727px; margin: 0 auto; background-color: transparent; background-image: url(img/artwork/bg-header.png); background-position: 50% 0; background-repeat: no-repeat; background-size: 1280px 727px; -webkit-transform: translate3d(-50%, 0, 0); -ms-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); }

.retina .header { background-image: url(img/artwork/bg-header@2x.png); background-size: 1280px 727px; }

.header__santa { overflow: hidden; position: absolute; top: 0; left: 50%; width: 443px; height: 482px; -webkit-transform: translate3d(-214px, 0, 0); -ms-transform: translate3d(-214px, 0, 0); transform: translate3d(-214px, 0, 0); pointer-events: all; }

.header__sock { width: 1024px; margin: 187px auto 0; }

.header__line { position: absolute; bottom: 90px; left: 50%; -webkit-transform: translate3d(-50%, 0, 0); -ms-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); }

.santa { position: absolute; top: -18px; left: 0; }

.stats { display: flex; justify-content: space-between; width: 1024px; padding: 33px 26px 0; margin: 0 auto; }

.stats__text { margin-top: 7px; font-size: 25px; color: #ffffff; letter-spacing: -1.9px; }

.stats__text--right { text-align: right; }

.counter { display: flex; }

.counter__item { width: 36px; height: 50px; border-radius: 5px; background-color: transparent; background-image: url(img/artwork/bg-counter.svg); background-position: 0 0; background-repeat: repeat-x; background-size: 1px 50px; }

.counter__item + .counter__item { margin-left: 2px; }

.counter__text { opacity: 0; font-family: "Roboto Condensed", sans-serif; font-size: 45px; font-weight: bold; color: #ecc376; line-height: 50px; text-align: center; trasition: opacity 0 linear; }

.counter__item:nth-child(6) .counter__text { transition-delay: 250ms; }

.counter__item:nth-child(5) .counter__text { transition-delay: 500ms; }

.counter__item:nth-child(4) .counter__text { transition-delay: 750ms; }

.counter__item:nth-child(3) .counter__text { transition-delay: 1000ms; }

.counter__item:nth-child(2) .counter__text { transition-delay: 1250ms; }

.counter__item:nth-child(1) .counter__text { transition-delay: 1500ms; }

.counter.is-active .counter__text { opacity: 1; }

.header-sock { position: relative; z-index: 5; pointer-events: none; }

.header-sock__title { padding-bottom: 28px; font-size: 55px; font-weight: 900; line-height: 0.84; text-align: center; color: #ffffff; text-transform: uppercase; text-shadow: 0 12px 24px rgba(26, 21, 22, 0.3), 0 2px 3px rgba(0, 0, 0, 0.5); background-image: url(img/artwork/bg-sock__hero.png); background-position: 50% 100%; background-repeat: no-repeat; background-size: 692px 78px; }

.retina .header-sock__title { background-image: url(img/artwork/bg-sock__hero@2x.png); background-size: 692px 78px; }

.header-sock__middle { width: 692px; padding: 18px 0 62px; margin: 0 auto; background-image: url(img/artwork/bg-sock__line.png); background-position: 0 0; background-repeat: repeat-y; background-size: 692px 9px; }

.retina .header-sock__middle { background-image: url(img/artwork/bg-sock__line@2x.png); background-size: 692px 9px; }

.header-sock__bottom { width: 872px; height: 454px; margin: 0 auto 0 166px; background-image: url(img/artwork/bg-sock__bottom.png); background-position: 0 0; background-repeat: repeat-y; background-size: 872px 454px; }

.retina .header-sock__bottom { background-image: url(img/artwork/bg-sock__bottom@2x.png); background-size: 872px 454px; }

.header-sock__form { pointer-events: all; }

.header-line { display: flex; align-items: center; justify-content: space-between; width: 1064px; height: 102px; background-color: #d8232a; }

.header-line::before, .header-line::after { content: ""; position: absolute; bottom: -20px; width: 20px; height: 20px; background-color: transparent; background-image: url(img/artwork/img-ribbon_corner.svg); background-position: 50% 50%; background-repeat: no-repeat; background-size: 20px 20px; }

.header-line::before { left: 0; -webkit-transform: scaleX(-1); -ms-transform: scaleX(-1); transform: scaleX(-1); }

.header-line::after { right: 0; }

.header-line__social { width: 50%; margin-left: 38px; }

.header-line__about { width: 50%; margin-right: 75px; text-align: right; }

.header-line__home { margin-left: 75px; }

.header-line__link { font-size: 17px; letter-spacing: -0.2px; color: #ffffff; transition: color 330ms ease; }

.hover .header-line__link:hover { color: #ecc376; }

.main { width: 1024px; padding-top: 728px; margin: 0 auto; background-color: #281712; }

.main__content { width: 100%; min-height: 550px; padding-top: 210px; background-color: transparent; background-image: url(img/artwork/bg-main_pattern.png); background-position: 0 0; background-repeat: repeat; background-size: 520px 537px; }

.retina .main__content { background-image: url(img/artwork/bg-main_pattern@2x.png); background-size: 520px 537px; }

.ie .main__content { padding-top: 938px; }

.sock { position: relative; margin-top: -180px; opacity: 1; transition: opacity 500ms ease; }

.sock.is-invisible { opacity: 0; }

.sock:first-child { z-index: 3; margin-top: 5px; }

.sock:nth-child(2) { z-index: 2; }

.sock:nth-child(3) { z-index: 1; }

.sock__top { width: 692px; height: 315px; margin: 0 auto; background-image: url(img/artwork/bg-sock__top.png); background-position: 50% 0; background-repeat: no-repeat; background-size: 692px 315px; }

.retina .sock__top { background-image: url(img/artwork/bg-sock__top@2x.png); background-size: 692px 315px; }

.sock__body { position: relative; z-index: 1; width: 692px; padding: 18px 45px 0; margin: 0 auto; background-image: url(img/artwork/bg-sock__line.png); background-position: 0 0; background-repeat: repeat-y; background-size: 692px 9px; }

.retina .sock__body { background-image: url(img/artwork/bg-sock__line@2x.png); background-size: 692px 9px; }

.sock__text { padding-bottom: 4px; font-family: "dizinregular"; font-size: 73px; color: #d0021b; line-height: 1.14; letter-spacing: -5.3px; text-align: center; text-shadow: 0 -1px 0 #d0011b; text-transform: uppercase; word-wrap: break-word; }

.sock__bottom { position: relative; z-index: 5; width: 872px; height: 454px; margin: 0 -14px 0 auto; background-image: url(img/artwork/bg-sock__bottom.png); background-position: 0 0; background-repeat: repeat-y; background-size: 872px 454px; }

.retina .sock__bottom { background-image: url(img/artwork/bg-sock__bottom@2x.png); background-size: 872px 454px; }

.sock__label { position: absolute; top: 345px; left: 137px; z-index: 0; display: inline-block; height: 71px; padding: 0 30px; border-radius: 2px; font-family: "Roboto Condensed", sans-serif; font-size: 16px; color: #ffffff; line-height: 71px; letter-spacing: 0.9px; text-align: center; text-transform: uppercase; background-color: #d8232a; background-image: url(img/artwork/bg-label__pattern.svg); background-position: 0 0; background-repeat: repeat; background-size: 4px 4px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: rotate(-90deg) translate3d(-100%, 0, 0); -ms-transform: rotate(-90deg) translate3d(-100%, 0, 0); transform: rotate(-90deg) translate3d(-100%, 0, 0); }

.sock__active { position: relative; z-index: 2; }

.sock__copy { position: absolute; top: 18px; left: 18px; z-index: 1; width: 100%; }

.sock__copy .sock__text { opacity: 0; }

.sock:nth-child(odd) .sock__bottom { margin: 0 auto 0 -14px; -webkit-transform: scaleX(-1); -ms-transform: scaleX(-1); transform: scaleX(-1); }

.sock:nth-child(odd) .sock__label { right: 210px; left: auto; -webkit-transform-origin: 100% 0; -ms-transform-origin: 100% 0; transform-origin: 100% 0; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); }

.sock:nth-child(odd) .sock__copy { top: 18px; right: 18px; left: auto; }

.more { width: 100%; padding: 25px 0; }

.more__btn { position: relative; display: flex; align-items: center; justify-content: center; width: 280px; height: 280px; margin: 0 auto; text-align: center; background-image: url(img/artwork/bg-main__more.png); background-position: 50% 50%; background-repeat: no-repeat; background-size: 280px 280px; }

.retina .more__btn { background-image: url(img/artwork/bg-main__more@2x.png); background-size: 280px 280px; }

.more__text { font-size: 18px; color: #edcc94; line-height: 1.22; -webkit-transform: translate3d(0, -10px, 0); -ms-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); transition: color 330ms ease, opacity 330ms ease; }

.hover .more__text:hover { color: #ffffff; }

.more__spinner { position: absolute; top: 0; left: 50%; width: 40px; height: 40px; background-image: url(img/artwork/ico-spinner.png); background-position: 50% 50%; background-repeat: no-repeat; background-size: 40px 40px; opacity: 0; -webkit-transform: translate3d(-50%, 111px, 0) rotate(0deg); -ms-transform: translate3d(-50%, 111px, 0) rotate(0deg); transform: translate3d(-50%, 111px, 0) rotate(0deg); transition: opacity 330ms ease; pointer-events: none; }

.retina .more__spinner { background-image: url(img/artwork/ico-spinner@2x.png); background-size: 40px 40px; }

.more__btn.is-loading .more__text { opacity: 0; }

.more__btn.is-loading .more__spinner { opacity: 1; -webkit-animation: spin 500ms linear infinite; animation: spin 500ms linear infinite; }

.footer { display: flex; align-items: center; justify-content: space-between; width: 1024px; height: 105px; margin: 0 auto; background-color: transparent; }

.footer__copy, .footer__made-by { width: 300px; font-size: 15px; color: rgba(255, 255, 255, 0.2); letter-spacing: -0.2px; }

.footer__copy { margin-left: 30px; }

.footer__made-by { justify-content: flex-end; margin-right: 30px; text-align: right; }

.footer-links { display: flex; flex: 1; justify-content: center; }

.footer-links__item { margin: 0 13px; }

.footer-links__link { font-size: 15px; font-style: italic; color: rgba(255, 255, 255, 0.2); letter-spacing: -0.2px; text-align: center; transition: color 330ms ease; }

.hover .footer-links__link:hover { color: #ecc376; }

.made-by { font-size: 15px; color: #ffffff; letter-spacing: -0.2px; text-align: right; opacity: 0.1; }

.made-by__link { font-size: 15px; color: #ffffff; letter-spacing: -0.2px; text-align: right; }

.social { display: flex; }

.social__item { width: 48px; height: 48px; }

.social__item + .social__item { margin-left: 6px; }

.social__link { display: block; width: 100%; height: 100%; background-color: transparent; background-position: 50% 50%; background-repeat: no-repeat; pointer-events: all; }

.social__link--vk { background-image: url(img/artwork/ico-social__vk.svg); background-size: 100% 100%; }

.hover .social__link--vk:hover { background-image: url(img/artwork/ico-social__vk-hover.svg); background-size: 100% 100%; }

.social__link--fb { background-image: url(img/artwork/ico-social__fb.svg); background-size: 100% 100%; }

.hover .social__link--fb:hover { background-image: url(img/artwork/ico-social__fb-hover.svg); background-size: 100% 100%; }

.social__link--ok { background-image: url(img/artwork/ico-social__ok.svg); background-size: 100% 100%; }

.hover .social__link--ok:hover { background-image: url(img/artwork/ico-social__ok-hover.svg); background-size: 100% 100%; }

.knit-your-wish { display: block; width: 495px; padding: 20px 0; margin: 0 auto; border-radius: 50px; font-size: 20px; font-weight: bold; color: #d8232a; letter-spacing: -0.2px; text-align: center; text-transform: uppercase; background-color: #ffffff; box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.5); pointer-events: all; transition: background-color 330ms ease, color 330ms ease; }

.hover .knit-your-wish:hover { color: #ffffff; background-color: #ecc376; }

.form { position: relative; width: 486px; min-height: 316px; padding: 143px 0 29px; margin: 0 auto; border-radius: 15px; background-image: url(img/artwork/bg-form.jpg); background-position: 50% 0; background-repeat: no-repeat; background-size: 486px 476px; }

.retina .form { background-image: url(img/artwork/bg-form@2x.jpg); background-size: 486px 476px; }

.form__error { opacity: 0; transotion: opacity 330ms ease; }

.form__error.is-shown { opacity: 1; }

.form__empty { display: block; padding: 0 22px 10px 42px; font-family: "Roboto Condensed", sans-serif; font-size: 14px; font-weight: bold; line-height: 1.5; color: #d8232a; background-image: url(img/artwork/ico-form__error.svg); background-position: 22px 3px; background-repeat: no-repeat; background-size: 15px 15px; }

.form__item { position: relative; text-align: center; }

.form__item:not(:last-child) { border-top: 1px solid rgba(255, 255, 255, 0.1); }

.form__counter { position: absolute; top: 18px; right: 21px; font-family: "Roboto Condensed", sans-serif; font-size: 14px; font-weight: bold; color: #ecc376; line-height: 1.5; opacity: 0.5; pointer-events: none; }

.form__input { width: 100%; height: 54px; padding: 0 22px; margin: 0; border: none; border-radius: 0; outline: none; font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 400; color: #ffffff; background-color: transparent; resize: none; transition: border 330ms ease; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.form__input--textarea { overflow: hidden; font-family: "Roboto Condensed", sans-serif; line-height: 54px; }

.form__input:focus, .form__input.has-value { text-align: center; text-transform: none; }

.form__input--textarea:focus, .form__input--textarea.has-value { padding: 15px 115px; font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 400; color: #ffffff; line-height: 1.5; text-align: center; text-transform: none; }

.android .form__input, .android .form__input--textarea:focus, .android .form__input--textarea.has-value { font-size: 14px; -webkit-text-size-adjust: none !important; }

.form__submit { position: absolute; bottom: -60px; left: 50%; width: 435px; height: 58px; padding: 0; margin: 0; border: none; border-radius: 50px; font-size: 20px; font-weight: 700; color: #ffffff; letter-spacing: -0.2px; text-align: center; text-transform: uppercase; vertical-align: middle; background-color: #d62229; box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.5), 0 0 0 0 rgba(214, 33, 40, 0); cursor: pointer; outline: none; -webkit-transform: translate3d(-50%, 0, 0); -ms-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); -webkit-animation: ctaShadow 1250ms linear infinite; animation: ctaShadow 1250ms linear infinite; -webkit-appearance: none; -moz-appearance: none; appearance: none; transition: background-color 330ms ease; }

.hover .form__submit:hover { background-color: #ecc376; -webkit-animation: ctaShadowHover 1250ms linear infinite; animation: ctaShadowHover 1250ms linear infinite; }

::-webkit-input-placeholder { font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 400; color: #edcc94; text-transform: uppercase; opacity: 0.5; }

:-moz-placeholder { font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 400; color: #edcc94; text-transform: uppercase; opacity: 0.5; }

::-moz-placeholder { font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 400; color: #edcc94; text-transform: uppercase; opacity: 0.5; }

:-ms-input-placeholder { font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 400; color: #edcc94; text-transform: uppercase; opacity: 0.5; }

:focus::-webkit-input-placeholder { color: transparent; }

:focus:-moz-placeholder { color: transparent; }

:focus::-moz-placeholder { color: transparent; }

:focus:-ms-input-placeholder { color: transparent; }

.about { overflow: scroll; position: absolute; top: 0; left: 0; z-index: 10000; width: 100%; height: 100vh; padding-bottom: 50px; background-color: rgba(34, 20, 15, 0.95); opacity: 0; -webkit-transform-origin: 50% 0; -ms-transform-origin: 50% 0; transform-origin: 50% 0; -webkit-transform: scaleY(0); -ms-transform: scaleY(0); transform: scaleY(0); -webkit-transition: -webkit-transform 330ms ease, opacity 330ms ease; -ms-transition: -ms-transform 330ms ease, opacity 330ms ease; transition: transform 330ms ease, opacity 330ms ease; }

.about.is-active { opacity: 1; -webkit-transform: scaleY(1); -ms-transform: scaleY(1); transform: scaleY(1); }

.about__close { position: absolute; top: 49px; left: 39px; width: 48px; height: 48px; background-color: transparent; background-image: url(img/artwork/ico-close.svg); background-position: 50% 50%; background-repeat: no-repeat; background-size: 26px 26px; }

.hover .about__close:hover { background-image: url(img/artwork/ico-close-hover.svg); background-size: 26px 26px; }

.about__wrapper { width: 960px; padding-left: 160px; margin: 0 auto; opacity: 0; transition: opacity 330ms ease; }

.about__wrapper.is-active { opacity: 1; }

.about__title { padding-top: 47px; font-size: 55px; font-weight: 900; color: #ecc376; line-height: 0.84; text-shadow: 0 12px 24px rgba(26, 21, 22, 0.3), 0 2px 3px rgba(0, 0, 0, 0.5); }

.about__description { width: 630px; margin-top: 53px; font-size: 15px; color: #ffffff; line-height: 1.67; letter-spacing: -0.2px; }

.terms { display: flex; align-items: center; margin-top: 25px; }

.terms__item:nth-child(1) { width: 300px; margin-right: 55px; }

.terms__title { font-size: 21px; color: #ecc376; line-height: 1.19; letter-spacing: -0.3px; }

.terms__description { margin-top: 28px; font-size: 15px; color: #ffffff; line-height: 1.67; letter-spacing: -0.2px; }

.terms__item .terms_image { width: 334px; height: 373px; }

.shops { width: 620px; margin-top: 35px; }

.shops__item { display: flex; align-items: center; justify-content: space-between; height: 79px; border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.shops__item:nth-child(1) { align-items: baseline; height: 59px; }

.shops__left, .shops__right { width: 300px; }

.shops__city { font-size: 35px; font-weight: 900; color: #ffffff; line-height: 1.31; text-shadow: 0 12px 24px rgba(26, 21, 22, 0.3), 0 2px 3px rgba(0, 0, 0, 0.5); }

.shops__month { font-size: 21px; font-weight: 900; color: #ffffff; line-height: 2.19; }

.shops__name { font-size: 21px; color: #ecc376; line-height: 1.19; letter-spacing: -0.3px; }

.shops__address { font-size: 15px; color: #ffffff; line-height: 1.67; letter-spacing: -0.2px; }

.shops__dates { font-size: 21px; color: #ffffff; line-height: 1.19; letter-spacing: -0.3px; }

.inner .counter__text { transition-delay: 0 !important; }

.inner .header-sock { position: relative; }

.inner .header-sock > * { position: relative; z-index: 1; }

.inner .header-sock__top { width: 692px; height: 315px; margin: -18px auto 0; background-image: url(img/artwork/bg-sock__top.png); background-position: 50% 0; background-repeat: no-repeat; background-size: 692px 315px; }

.retina .inner .header-sock__top { background-image: url(img/artwork/bg-sock__top@2x.png); background-size: 692px 315px; }

.inner .header-sock__top .knit-your-wish { position: absolute; top: 58px; left: 50%; -webkit-transform: translate3d(-50%, 0, 0); -ms-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); }

.inner .header-sock__middle { overflow: hidden; height: auto; padding-bottom: 11px; }

.inner .header-sock__middle--links { padding-bottom: 36px; }

.inner .header-sock__end { width: 692px; height: 90px; margin: 0 auto; background-image: url(img/artwork/bg-sock__end.png); background-position: 0 0; background-repeat: repeat-y; background-size: 692px 90px; }

.retina .inner .header-sock__end { background-image: url(img/artwork/bg-sock__end@2x.png); background-size: 692px 90px; }

.inner .header-sock__bottom { margin-top: -81px; }

.inner .header-sock__wishes { max-height: 97px; padding: 21px 45px 0; font-family: "dizinregular"; font-size: 73px; color: #d0021b; line-height: 1.14; letter-spacing: -5.3px; text-align: center; text-shadow: 0 -1px 0 #d0011b; text-transform: uppercase; word-wrap: break-word; }

.inner .header-sock__label { position: absolute; top: 634px; left: 136px; z-index: 0; display: inline-block; height: 71px; padding: 0 30px; border-radius: 2px; font-family: "Roboto Condensed", sans-serif; font-size: 16px; color: #ffffff; line-height: 71px; letter-spacing: 0.9px; text-align: center; text-transform: uppercase; background-color: #d8232a; background-image: url(img/artwork/bg-label__pattern.svg); background-position: 0 0; background-repeat: repeat; background-size: 4px 4px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); opacity: 0; -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: rotate(-90deg) translate3d(-100%, 100%, 0); -ms-transform: rotate(-90deg) translate3d(-100%, 100%, 0); transform: rotate(-90deg) translate3d(-100%, 100%, 0); -webkit-transition: -webkit-transform 330ms ease; -ms-transition: -ms-transform 330ms ease; transition: transform 330ms ease; }

.inner .header-sock__copy { position: absolute; top: 490px; left: 0; z-index: 0; width: 100%; opacity: 0; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: -webkit-transform 330ms ease; -ms-transition: -ms-transform 330ms ease; transition: transform 330ms ease; }

.inner .header-sock__copy .header-sock__wishes { max-height: none; opacity: 0; }

.inner .header-sock__top, .inner .header-sock__middle--links, .inner .header-sock__bottom { display: none; }

.inner .header-sock.is-active .header-sock__label { opacity: 1; -webkit-transform: rotate(-90deg) translate3d(-100%, 0, 0); -ms-transform: rotate(-90deg) translate3d(-100%, 0, 0); transform: rotate(-90deg) translate3d(-100%, 0, 0); }

.inner .header-sock.is-active .header-sock__copy { opacity: 1; -webkit-transform: translate3d(20px, 22px, 0); -ms-transform: translate3d(20px, 22px, 0); transform: translate3d(20px, 22px, 0); }

.inner .main__content { position: relative; min-height: 315px; }

.inner .main__content .knit-your-wish { position: absolute; bottom: 0; left: 50%; opacity: 0; -webkit-transform: translate3d(-50%, 50%, 0); -ms-transform: translate3d(-50%, 50%, 0); transform: translate3d(-50%, 50%, 0); transition: opacity 1000ms ease; }

.inner .knit-your-wish.is-active { opacity: 1; }

.inner .wishes-links { width: 1024px; padding: 110px 0 50px; margin: 0 auto; opacity: 0; transition: opacity 1000ms ease; }

.inner .wishes-links.is-active { opacity: 1; }

.inner .wishes-links__list { width: 486px; height: 155px; margin: 0 auto; border-radius: 19px; background-color: #0a0001; }

.inner .wishes-links__item { display: flex; align-items: center; justify-content: space-between; height: 77px; padding: 0 22px; }

.inner .wishes-links__item + .wishes-links__item { border-top: 1px solid rgba(255, 255, 255, 0.1); }

.inner .wishes-links__title { font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 400; color: #edcc94; letter-spacing: 0.5px; text-transform: uppercase; opacity: 0.5; }

.inner .wishes-links__link { overflow: hidden; max-width: 150px; font-size: 16px; font-weight: bold; color: #ffffff; letter-spacing: -0.2px; text-align: right; text-overflow: ellipsis; white-space: nowrap; opacity: 0.9; }

.inner .wishes-links--header { width: 486px; height: 316px; padding: 0; margin: 0 auto; border-radius: 15px; background-image: url(img/artwork/bg-form.jpg); background-position: 50% 0; background-repeat: no-repeat; background-size: 486px 476px; }

.inner .wishes-links--header .wishes-links__list { padding-top: 161px; background-color: transparent; }

.inner .wishes-links--header .wishes-links__item { border-top: 1px solid rgba(255, 255, 255, 0.1); }

.retina .inner .wishes-links--header { background-image: url(img/artwork/bg-form@2x.jpg); background-size: 486px 476px; }

.inner .wishes-links__wrapper { display: flex; align-items: center; justify-content: space-between; }

.inner .wishes-links .social { width: auto; }

.inner .wishes-links__copy { position: relative; padding: 5px 10px; margin-left: 10px; border-radius: 50px; font-family: "Roboto Condensed", sans-serif; font-size: 14px; font-weight: bold; color: #ffffff; letter-spacing: 0.3px; text-align: center; text-transform: uppercase; background-color: rgba(255, 255, 255, 0.5); box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.5); pointer-events: all; transition: background-color 330ms ease; }

.inner .wishes-links__copy::before { content: "Скопировано"; position: absolute; top: -3px; left: 50%; display: none; padding: 10px 10px 12px; border-radius: 4px; font-family: "Roboto Condensed", sans-serif; font-size: 14px; font-weight: 400; color: #ffffff; line-height: 1.5; text-align: center; text-transform: none; background-color: rgba(216, 35, 42, 0.8); opacity: 0; -webkit-transform: translate3d(-50%, -100%, 0); -ms-transform: translate3d(-50%, -100%, 0); transform: translate3d(-50%, -100%, 0); }

.inner .wishes-links__copy::after { content: ""; position: absolute; top: -3px; left: 50%; display: none; width: 16px; height: 8px; background-image: url(../../../../static/nescafe/img/artwork/ico-tip.svg); background-position: 50% 50%; background-repeat: no-repeat; background-size: 16px 8px; opacity: 0; -webkit-transform: translate3d(-50%, 0, 0); -ms-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); }

.inner .wishes-links__copy.is-active::before, .inner .wishes-links__copy.is-active::after { display: block; -webkit-animation: linkCopied 1500ms linear infinite; animation: linkCopied 1500ms linear infinite; }

.hover .inner .wishes-links__copy:hover { background-color: #ecc376; }

.ios .inner .wishes-links__copy { display: none; }

.android .inner .wishes-links__copy { display: none; }

.ios .inner .wishes-links__link { max-width: 260px; }

.android .inner .wishes-links__link { max-width: 260px; }

.ios .inner .wishes-links__item:nth-child(1), .android .inner .wishes-links__item:nth-child(1) { flex-direction: column; justify-content: center; align-items: flex-start; }

.ios .inner .wishes-links__item:nth-child(1) .wishes-links__link, .android .inner .wishes-links__item:nth-child(1) .wishes-links__link { max-width: 100%; margin-top: 10px; }

/*# sourceMappingURL=main.css.map */