<div class="main__sock sock">
  <div class="sock__active">
    <div class="sock__top"></div>
    <div class="sock__body">
      <p class="sock__text">
        Vasiunia!
        Поздравляем с новым 2017 годом!!! Желаем успехов в работе и уюта в семье!!! Любим, обнимаем!!!
      </p>
    </div>
    <div class="sock__bottom"></div>
    <span class="sock__label">Семейство Карпатовых</span>
  </div>

  <div class="sock__copy">
    <div class="sock__top"></div>
    <div class="sock__body">
      <p class="sock__text">
        Vasiunia!
        Поздравляем с новым 2017 годом!!! Желаем успехов в работе и уюта в семье!!! Любим, обнимаем!!!
      </p>
    </div>
    <div class="sock__bottom"></div>
  </div>
</div>

<div class="main__sock sock">
  <div class="sock__active">
    <div class="sock__top"></div>
    <div class="sock__body">
      <p class="sock__text">
        Дорогой ты Мой димочка! Поздравляю тебя с новым годом!!! ВИтя!
      </p>
    </div>
    <div class="sock__bottom"></div>
    <span class="sock__label">Жеребчик</span>
  </div>

  <div class="sock__copy">
    <div class="sock__top"></div>
    <div class="sock__body">
      <p class="sock__text">
        Дорогой ты Мой димочка! Поздравляю тебя с новым годом!!! ВИтя!
      </p>
    </div>
    <div class="sock__bottom"></div>
  </div>
</div>

<div class="main__sock sock">
  <div class="sock__active">
    <div class="sock__top"></div>
    <div class="sock__body">
      <p class="sock__text">
        Наступило время сказок, На пороге Новый год! Пусть тревоги он развеет, Увеличит ваш доход.
      </p>
    </div>
    <div class="sock__bottom"></div>
    <span class="sock__label">Мариночка-милочка</span>
  </div>

  <div class="sock__copy">
    <div class="sock__top"></div>
    <div class="sock__body">
      <p class="sock__text">
        Наступило время сказок, На пороге Новый год! Пусть тревоги он развеет, Увеличит ваш доход.
      </p>
    </div>
    <div class="sock__bottom"></div>
  </div>
</div>